<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <header>
    </header>
    <section>
      <p>Bonjour <%= firstname %> <%= lastname %>,</p>
      <p>
        Merci de cliquer sur
        <a href="<%= url %>">Changer mon mot de passe</a> pour choisir un nouveau
        mot de passe
      </p>
    </section>
    <footer>
      <%- include('footer') %>
    </footer>
  </body>
</html>